@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body,
html {
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  /* background-color: whitesmoke; */
}

/* a {
  width: 50%;
  height: 100vh;
  background-size: cover;
  background-position: center;
} */

/* a img {
  width: 100%;
} */

#form-container {
  width: 50%;
  display: flex;
  justify-content: center;
  /* horizontally */
  align-items: center;
  /* vertically */
}

.texts {
  color: darkslategray;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  margin: 45px;
}

.inputs {
  color: rgb(82, 77, 77);
  background-color: lightgray;
  width: 60%;
  height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px;
  font-size: 22px;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.inputs:hover {
  border-color: dimgray;
}

.inputs:focus {
  outline: none;
}

.message {
  color: rgb(82, 77, 77);
  background-color: lightgray;
  width: 70%;
  height: 30px;
  font-size: large;
  border: none;
  font-family: "Montserrat", sans-serif;
  pointer-events: none;
}

.block1 {
  border: none;
  /* outline: 0; */
  background-color: dimgray;
  color: white;
  text-align: center;
  cursor: pointer;
  margin: 0px 4px 32px 0px;
  padding: 15px 140px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.block2 {
}

.block1:hover {
  background-color: dimgray;
  color: white;
}
